<a href="/user/signup" class="sidebar-link sidebar-link-with-icon">
    <span class="sidebar-icon bg-primary text-white rounded-circle">
        <!-- bg-primary = background-color: var(--primary-color), text-white = color: white, rounded-circle = border-radius: 50% -->
        <i class="fa-solid fa-user-plus"></i>
    </span>
    Sign Up
</a>
<a href="/user/login" class="sidebar-link sidebar-link-with-icon">
    <span class="sidebar-icon bg-success text-dark rounded-circle">
        <!-- bg-success = background-color: var(--success-color), text-dark = color: var(--lm-base-text-color), rounded-circle = border-radius: 50% -->
        <i class="fa-solid fa-right-to-bracket"></i>
    </span>
    Login
</a>