<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta tags -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta name="viewport" content="width=device-width" />
  <!-- Favicon and title -->
  <title>{% block title %} {% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="/static/img/logo.png">
  <!-- JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
    integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
  integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true"
  data-sidebar-shortcut-enabled="true" data-set-preferred-mode-onload="true">
  <div class="page-wrapper with-navbar with-sidebar with-navbar-fixed-bottom">
    <div class="sticky-alerts"></div>

    <!-- Navbar start -->
    <nav class="navbar">
      <div class="navbar-content">
        <button id="toggle-sidebar-btn" class="btn btn-action" type="button" onclick="halfmoon.toggleSidebar()">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
      </div>
      <!-- Navbar brand -->
      <a href="/" class="navbar-brand">
        <img src="/static/img/logo.png" alt="Logo" />
        Salmonella
      </a>
    </nav>
    <!-- Navbar end -->

    <!-- Sidebar start -->
    <div class="sidebar">
      <!-- Reference: https://www.gethalfmoon.com/docs/sidebar -->
      <div class="sidebar-menu">
        <h5 class="sidebar-title">Polls</h5>
        <div class="sidebar-divider"></div>
        <a href="/poll/create" class="sidebar-link sidebar-link-with-icon">
          <span class="sidebar-icon bg-transparent justify-content-start mr-0">
            <!-- bg-transparent = background-color: transparent, justify-content-start = justify-content: flex-start, mr-0 = margin-right: 0 -->
            <i class="fa-solid fa-square-poll-vertical"></i>
          </span>
          Create Poll
        </a>
        <a href="/poll/view" class="sidebar-link sidebar-link-with-icon">
          <span class="sidebar-icon bg-transparent justify-content-start mr-0">
            <!-- bg-transparent = background-color: transparent, justify-content-start = justify-content: flex-start, mr-0 = margin-right: 0 -->
            <i class="fa-solid fa-eye"></i>
          </span>
          Your Polls
        </a>
        <br />
        <h5 class="sidebar-title">Options</h5>
        <div class="sidebar-divider"></div>
        {% block options %}
        {% endblock %}
      </div>
    </div>
    <!-- Sidebar end -->

    <!-- Content wrapper start -->
    {% block content %}
    {% endblock %}
    <!-- Content wrapper end -->

    <!-- Navbar fixed bottom start -->
    <nav class="navbar navbar-fixed-bottom">
      <!-- Reference: https://www.gethalfmoon.com/docs/navbar#navbar-fixed-bottom -->
    </nav>
    <!-- Navbar fixed bottom end -->
  </div>
  <!-- Page wrapper end -->
  
  {% if message %}
  <script>
  toastr.{{ message.type }}("{{ message.text }}")
  </script>
  {% endif %}
</body>

</html>